.App {
  text-align: center;
}

table {
  border: 1px solid black;
  margin: 0 auto;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.td-balance {
  text-align: right;
}

.tr-row-size {
  background: cadetblue;
}

.tr-sub-total {
  background: sandybrown;
}

.tr-total {
  background: cadetblue;
}

.td-right {
  text-align: right;
  padding-left: 20px;
}

.td-left {
  text-align: left;
}

/* label CSS is known as "Clipping CSS Snippet": https://www.nomensa.com/blog/2017/how-improve-web-accessibility-hiding-elements */
label {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main-form-div {
  border: 1px solid black;
  display: flex;
  padding: 25px;
  margin: 20px auto 0 auto;
  width: 55%;
}

.form-div {
  margin: 0 auto;
}

.sub-form-div {
  display: grid;
  grid-template-columns: 135px 135px 135px 135px 135px 100px;
}

.delete-hover {
  background: white;
}

.delete-hover:hover {
  background: lightblue;
  color: white;
  font-weight: 900;
}